:root {
  --Text-Default: #202223;
  --Text-Subdued: #6d7175;
  --Text-Highlight: #347c84;
  --Text-Disabled: #8c9196;
  --Text-On-Primary: #fff;
  --Text-Active: #80cfd5;
  --Text-Success: #008060;
  --Text-On-Interactive: #fff;
  --Text-Highlight: #347c84;
  --Text-Interactive-Default: #2c6ecb;
  --Text-input-border: #a7acb1;
  --Text-Warning: #916a00;
  --Text-Critical-Default: #fd5749;
  --Text-Critical: #d72c0d;
  --Icon-Highlight: #00a0ac;
  --Action-Secondary-Hovered: #f6f6f7;
  --Border-Highlight-Default: #449da7;
  --Border-Default: #8c9196;
  --Border-Neutral-Subdued: #babfc3;
  --Background-Default: #f6f6f7;
  --Button-border-gradient: #babfc3;
  --Surface-Default: #fff;
  --Surface-Hovered: #f6f6f7;
  --Surface-Selected-Default: #f2f7fe;
  --Surface-Neutral-Default: #e4e5e7;
  --Action-Secondary-Pressed: #f1f2f3;
  --Header-Mob-Bg: #fff;
  --Icon-Default: #5c5f62;
  --Modals-Bg: #fff;
  --Footer-Bg: #fff;
  --Animal-Bg: #fff;
  --Promotion-Secondary-Bg: #aee9d1;
  --Promotion-Primary-Bg: #ffd79d;
  --Product-Primary-Bg: #fff;
  --Product-Secondary-Bg: #fafbfb;
  --Package-Unit-Default-Bg: #e4e5e7;
  --Action-Secondary-Default: #fff;
  --Action-Primary-Default: #008060;
}
